*{
    margin: 0px;
    padding: 0px;
}

.header{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}
.name{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bio{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.socialmedia{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.say{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mail{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mail-button{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 82%;
    left: 50%;
    border: 3px solid #fff;
    padding: 12px 34px;
    transform: translate(-50%, -50%);
    text-decoration: none;
}
.mail-button:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}