*{
    margin: 0px;
    padding: 0px;
}
.mobileview{
    display: none;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(assets/background.gif);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links{
    text-align: right;
}
.nav-links ul a{
    text-decoration: none;
    color: aquamarine;
}
nav{
    background-color: black;
    margin: 0px;
    padding: 15px;
    width: 100%;
    position: fixed;
}
nav h4{
    position: fixed;
}
.nav-links ul li{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-right: 30px;
    font-style: italic;
    text-align: right;
    transition: 2s;
    
    
}
.nav-links ul li:hover{
    text-decoration: overline;
    text-decoration-color: greenyellow;
    transition: 2s;
    
}
#gallery{
    height: 100vh;
    width: 100%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#download{
    height: 100vh;
    width: 100%;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #fff;
}
textarea{
    resize: none;
}
button{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: yellowgreen;
}
#request{
    height: 100vh;
    width: 100%;
    background-color: wheat;
}
#request{
    display: flex;
    justify-content: center;
    align-items: center;
}
.requestforsubdomain{
    background-color: aliceblue;
    margin: 0px;
    padding: 20px;
}
@media(max-width: 900px){
    .pcview{
        display: none;
    }
    .mobileview{
        display: block;
    }
    *{
        margin: 0px;
        padding: 0px;
        background-color: black;
    }
   .hamropatro{
    position: absolute;
    background-color: transparent;
   }
   .marketnewzz{
    position: absolute;
    left: 95.18%;
   }
   .marketchart{
    position: absolute;
    right: 0.1%;
   }
   button{
    display: none;
   }
    

}
